<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register-update</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<!--Header-->
<header th:insert="blocks/header :: header"></header>

<!--Main layout-->
<div class="row" style="text-align: center">
    <div class="col-lg-5"></div>

    <div class="col-lg-2">
        <form class="form-signing" th:method="put" th:action="@{/admin/user/{email}(email=${user.email})}" th:object="${user}">
            <label for="newPassword" class="sr-only" th:text="#{form.password.new}"></label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"
                   placeholder="New password"
                   minlength="10" maxlength="20" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{8,20}$" required>
            <p style="color: red" th:text="${passwordValidate}"></p>

            <label for="confirmPassword" class="sr-only" th:text="#{form.password.confirm}"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   placeholder="Confirm password"
                   minlength="10" maxlength="20" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{8,20}$" required>
            <p style="color: red" th:text="${confirmPasswordValidate}"></p>
            <p style="color: red" th:text="${passwordConfirming}"></p>

            <!-- Register button -->
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{register}"></button>
            <!-- Register button -->
        </form>
    </div>

    <div class="col-lg-5"></div>
</div>
<br>
<!--Main layout-->

<!--Footer-->
<header th:insert="blocks/footer :: footer"></header>

</body>
</html>