<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<!--Header-->
<header th:insert="blocks/header-user :: header"></header>

<!--Main layout-->
<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <!--Main layout-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{expression.working}"></h4>
                            <p class="card-text" th:text="#{manage.section}"></p>
                            <form th:method="get" th:action="@{/action}">
                                <button type="submit" class="btn btn-primary" th:text="#{manage}"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{expression.new}"></h4>
                            <p class="card-text" th:text="#{manage.section}"></p>
                            <form th:method="get" th:action="@{/expression}">
                                <button type="submit" class="btn btn-primary" th:text="#{manage}"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{profile}"></h4>
                            <p class="card-text" th:text="#{manage.section}"></p>
                            <form th:method="get" th:action="@{/profile}">
                                <button type="submit" class="btn btn-primary" th:text="#{manage}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2"></div>
</div>
<!--Main layout-->

<!--Footer-->
<header th:insert="blocks/footer :: footer"></header>

</body>
</html>