<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Action</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<!--Header-->
<header th:insert="blocks/header-user :: header"></header>

<!--Main layout-->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="tab-pane fade show active" id="actions" role="tabpanel"
             aria-labelledby="internet-tab">
            <h3 style="text-align: center" th:text="#{expression.working}"></h3>

            <!--Choose by root-->
            <div class="col-lg-1">
                <form class="form-signing" th:method="get" th:action="@{/action}">
                    <label for="login" class="sr-only" th:text="#{form.root}"></label>
                    <input type="number" id="login" name="root" class="form-control"
                           placeholder="x.x"
                           pattern="\\d+(\\.\\d+)?" required><br>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{filter}"></button>
                </form>
                <br>
                <form class="form-signing" th:method="get" th:action="@{/action}">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{reset}"></button>
                </form>
            </div>
            <br>
            <!--Choose by root-->

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" th:text="#{expression}"></th>
                    <th scope="col" th:text="#{root}"></th>
                    <th scope="col" th:text="#{delete}"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="expression, iStat : ${expressions}">
                    <td th:text="${expression.id}">Larry</td>
                    <td th:text="${expression.expression}">Larry</td>
                    <td th:text="${expression.root}">Larry</td>
                    <td>
                        <form th:method="delete" th:action="@{/expression/{id}(id=${expression.id})}">
                            <button type="submit" class="btn btn-danger btn-lg"></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--Customers pagination-->
            <pagination th:insert="blocks/pager-expression :: pager"></pagination>
            <!--Customers pagination-->
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<!--Main layout-->

<!--Footer-->
<header th:insert="blocks/footer :: footer"></header>

</body>
</html>